# Dependências
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# iOS
ios/
android/

# Cache e logs
npm-debug.*
yarn-debug.*
yarn-error.*
.yarn/

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema operacional
.DS_Store
.DS_Store?
._*
Thumbs.db

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
